table{
	width:100%;
}

.mat-column-right{
	text-align: center;
}

/*.mat-header-cell{
	text-align: center;	
} */

.example-card {
  max-width: 20%;
}

.white_bg{
	background-color: white;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}